PharamacySolutionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="http://web.project.cs.birzeit.edu/" name="PharamacySolutionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://web.project.cs.birzeit.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://web.project.cs.birzeit.edu/" schemaLocation="PharamacySolutionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCure">
    <part name="parameters" element="tns:getCure"/>
  </message>
  <message name="getCureResponse">
    <part name="parameters" element="tns:getCureResponse"/>
  </message>
  <message name="getPharmacies">
    <part name="parameters" element="tns:getPharmacies"/>
  </message>
  <message name="getPharmaciesResponse">
    <part name="parameters" element="tns:getPharmaciesResponse"/>
  </message>
  <message name="getPharmacy">
    <part name="parameters" element="tns:getPharmacy"/>
  </message>
  <message name="getPharmacyResponse">
    <part name="parameters" element="tns:getPharmacyResponse"/>
  </message>
  <message name="getMedicine">
    <part name="parameters" element="tns:getMedicine"/>
  </message>
  <message name="getMedicineResponse">
    <part name="parameters" element="tns:getMedicineResponse"/>
  </message>
  <message name="getDisease">
    <part name="parameters" element="tns:getDisease"/>
  </message>
  <message name="getDiseaseResponse">
    <part name="parameters" element="tns:getDiseaseResponse"/>
  </message>
  <message name="Order">
    <part name="parameters" element="tns:Order"/>
  </message>
  <message name="OrderResponse">
    <part name="parameters" element="tns:OrderResponse"/>
  </message>
  <message name="listDisease">
    <part name="parameters" element="tns:listDisease"/>
  </message>
  <message name="listDiseaseResponse">
    <part name="parameters" element="tns:listDiseaseResponse"/>
  </message>
  <message name="diagnose">
    <part name="parameters" element="tns:diagnose"/>
  </message>
  <message name="diagnoseResponse">
    <part name="parameters" element="tns:diagnoseResponse"/>
  </message>
  <portType name="PharamacySolutionService">
    <operation name="getCure">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getCureRequest" message="tns:getCure"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getCureResponse" message="tns:getCureResponse"/>
    </operation>
    <operation name="getPharmacies">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getPharmaciesRequest" message="tns:getPharmacies"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getPharmaciesResponse" message="tns:getPharmaciesResponse"/>
    </operation>
    <operation name="getPharmacy">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getPharmacyRequest" message="tns:getPharmacy"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getPharmacyResponse" message="tns:getPharmacyResponse"/>
    </operation>
    <operation name="getMedicine">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getMedicineRequest" message="tns:getMedicine"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getMedicineResponse" message="tns:getMedicineResponse"/>
    </operation>
    <operation name="getDisease">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getDiseaseRequest" message="tns:getDisease"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/getDiseaseResponse" message="tns:getDiseaseResponse"/>
    </operation>
    <operation name="Order">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/OrderRequest" message="tns:Order"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/OrderResponse" message="tns:OrderResponse"/>
    </operation>
    <operation name="listDisease">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/listDiseaseRequest" message="tns:listDisease"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/listDiseaseResponse" message="tns:listDiseaseResponse"/>
    </operation>
    <operation name="diagnose">
      <input wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/diagnoseRequest" message="tns:diagnose"/>
      <output wsam:Action="http://web.project.cs.birzeit.edu/PharamacySolutionService/diagnoseResponse" message="tns:diagnoseResponse"/>
    </operation>
  </portType>
  <binding name="PharamacySolutionServicePortBinding" type="tns:PharamacySolutionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCure">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPharmacies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPharmacy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMedicine">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDisease">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Order">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listDisease">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="diagnose">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PharamacySolutionService">
    <port name="PharamacySolutionServicePort" binding="tns:PharamacySolutionServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

